/* ================================================= */
/* ||               TABLE OF CONTENT              || */
/* ================================================= */
/* || 01 :: Variables                             || */
/* || 02 :: Default CSS                           || */
/* || 03 :: Custom elements                       || */
/* || 04 :: Login & Signup form                   || */
/* ================================================= */

/*  01. Variables                   */
:root {
    --primary-color: #162938;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

/*  02. Default CSS                 */
body {
    font-family: 'Poppins', sans-serif;
    color: var(--primary-color);
    background: url('../images/bg.png') no-repeat;
    background-size: cover;
}

/*  03. Custom elements             */
.checkbox [type='checkbox'] {
    display: none;
}

.checkbox [type='checkbox'] + label {
    position: relative;
    display: flex;
    align-items: center;
    color: var(--primary-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.23, 1);
    cursor: pointer;
}

.checkbox [type='checkbox'] + label:hover > span {
    background: rgba(255, 255, 255, 0.15);
}

.checkbox [type='checkbox'] + label > span {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: .5rem;
    width: 20px;
    height: 20px;
    background: transparent;
    border: 2px solid var(--primary-color);
    border-radius: 2px;
    cursor: pointer;
    transition: all 250ms cubic-bezier(0.4, 0, 0.23, 1);
}

.checkbox [type='checkbox'] + label a {
    margin-left: 3px;
    display: inline-block;
}

.checkbox [type='checkbox']:focus + label {
    color: #fff;
}

.checkbox [type='checkbox']:focus + label > span {
    background: rgba(255, 255, 255, 0.1);
}

.checkbox [type='checkbox']:checked + label > span {
    border: 10px solid var(--primary-color);
    animation: shrink-bounce 200ms cubic-bezier(0.4, 0, 0.23, 1);
}

.checkbox [type='checkbox']:checked + label > span::before {
    all: unset;
    content: '';
    position: absolute;
    top: .6em;
    left: .3em;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    transform: rotate(45deg);
    transform-origin: 0 100%;
    color: #fff;
    animation: checkbox-check 125ms 250ms cubic-bezier(0.4, 0, 0.23, 1) forwards;
}

@keyframes shrink-bounce {
    0% {
        transform: scale(1);
    }
    33% {
        transform: scale(0.85);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes checkbox-check {
    0% {
        width: 0;
        height: 0;
        border-color: #fff;
        transform: translate3d(0, 0, 0) rotate(45deg);
    }
    33% {
        width: .2em;
        height: 0;
        transform: translate3d(0, 0, 0) rotate(45deg);
    }
    100% {
        width: .2em;
        height: .5em;
        border-color: #fff;
        transform: translate3d(0, -0.5em, 0) rotate(45deg);
    }
}

/*  04. Login & Signup form         */
.form-container {
    width: 100%;
    max-width: 400px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(20px);
    box-shadow: var(--primary-color) 0 20px 30px -10px;
    transition: height .2s ease;
}

.form-container.signup .form.form--login {
    position: absolute;
    left: -100%;
}

.form-container.signup .form.form--signup {
    position: relative;
    left: 0;
}

.form-container .form {
    width: 100%;
    transition: left .4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.form-container .form.form--login {
    position: relative;
    left: 0;
}

.form-container .form.form--signup {
    position: absolute;
    left: 100%;
}

.form-container .form .form-floating .form-control {
    padding: 1.5rem 2rem .5rem .5rem;
    font-size: 1rem;
    font-weight: 600;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--primary-color);
}

.form-container .form .form-floating label {
    padding: 1.5rem 2rem .5rem .5rem;
    font-weight: 500;
    border: none;
}

.form-container .form .form-floating .form-control:focus {
    box-shadow: none;
    outline: none;
}

.form-container .form .form-floating .form-control:not(:placeholder-shown) ~ label,
.form-container .form .form-floating .form-select ~ label,
.form-container .form .form-floating .form-control:focus ~ label {
    opacity: 1;
    font-weight: 500;
    transform: scale(.85) translateY(-1rem) translateX(.15rem);
}

.form-container .form .form-floating i {
    right: .5rem;
    bottom: .6rem;
}

.form-container .form a {
    font-weight: 600;
    color: var(--primary-color);
    text-decoration: none;
    user-select: none;
}

.form-container .form a:hover {
    text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-thickness: 2px;
}

.form-container .form [type="submit"] {
    width: 100%;
    height: 45px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 6px;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    color: #fff;
    font-weight: 500;
    position: relative;
    overflow: hidden;
}

.form-container .form [type="submit"] span {
    width: 40px;
    height: 40px;
    position: absolute;
    background-color: #8194a7;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    animation: ripple .5s linear infinite;
}

@keyframes ripple {
    0% {
        transform: scale(0, 0);
        opacity: 0.25;
    }
    100% {
        transform: scale(10, 10);
        opacity: 0;
    }
}